/*Geral da Pagina*/
html, body, main {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  padding-top: 3.75rem;
  padding-right: 9.75rem;
  padding-bottom: 1rem;
  padding-left: 9,75rem;
}



.coluna-esquerda {
  flex: 0 0 46.5rem; 
}

.coluna-direita {
  flex: 0 0 22.5625rem; 
}


/*Header*/
.header{
  width: 100%;
  height: 4.375rem;
  gap: .625rem;
  padding-top: 1rem;
  padding-right: 9.75rem;
  padding-bottom: 1rem;
  padding-left: 9.75rem;
  background-color: #02A28F;
  box-shadow: 0px .625rem 1.25rem 0px #0000001A;
}

.header h1{
  font-weight: 700;
  font-size: 2.25rem;
  color: white;
}

/*Banner*/
.banner{
  background: linear-gradient(180deg, rgba(102, 102, 102, 0) 0%, #000000 100%),
  url(./imagens/Cidade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 46.5rem;
  height: 24.75rem;
  border-radius: .625rem;
  box-shadow: 0px 0.625 1.25rem 0px #0000001A;
}

.banner-title{
  padding-top: 17.5rem;
  margin-left: 1.875rem;
}

.banner-title h2{
  font-weight: 700;
  font-size: 2rem;
  color: white;
  margin: 0;
  padding: 0;
}

.banner-title h3{
  font-weight: 400;
  font-size: 1rem;
  color: white;
  margin: 0;
  padding: 0;
}

.banner-title h5{
  color: white;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

/*Seção Posts Mais recente*/
.po{
  width: 46.5rem;
  height: 3.5;
  margin-top: 2rem;
}

.teste2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #02A28F;
  border-radius: .5rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5;
  box-shadow: 0px 0.625 0.625 0px #0000001A;
}

.teste2 h1{
  font-weight: 700;
  font-size: 1.25rem;
  color: white;
  padding: 0;
  margin: 0;
}

.teste2 a{
  font-weight: 500;
  font-size: .87rem;
  text-decoration: underline;
  text-decoration-style: solid;
  color: white;
  margin-right: 1.25rem;
}

/*Imagens Recentes*/
.recen-imagens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;  
  width: 46.5rem;
  height: 51rem;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.recen-imagens h3{
  font-weight: 400;
  font-size: .875rem;
  color: #02A28F;
  margin-left: 1rem;
  margin-bottom: 0;
}

.recen-imagens h2{
  font-weight: 700;
  font-size: 1.25rem;
  color: #000000;
  margin-left: 1rem;
  margin-top: .5rem;
  margin-bottom: 0;
}

.recen-imagens h4{
  font-weight: 700;
  font-size: .875rem;
  color: #616161;
  margin-left: 1rem;
  margin-top: .5rem;
  margin-bottom: 0;
}

.recen-imagens h5{
  font-weight: 500;
  font-size: .875rem;
  color: #616161;
  margin-left: 1rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.recen-imagens p{
  font-weight: 400;
  font-size: .875rem;
  color: #000000;
  margin-left: 1rem;
  margin-top: .5rem;
  margin-bottom: 0;
}

.recen-imagens img {
  object-fit: cover;
  width: 100%;
}

.cards{
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0px .625rem 1.25rem 0px #0000001A;
}

/*Coluna Direita*/

.populares{
  width: 22.5625rem;
  height: 24.75rem;
  top: 7.5rem;
  left: 57.75rem;
}

.populares h1{
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
  color: white;
  padding-top: .8125rem;
  padding-left: .9375rem;
}

.populares ul{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.teste3{
  width: 22.5rem;
  height: 3rem;
  background-color: #02A28F;
  border-radius: .625rem;
  box-shadow: 0px .625rem .625rem 0px #0000001A;
}

.posts-populares{
  display: flex;
  flex-direction: column;
  width: 22.5rem;
  height: 6rem;
  border-radius: .625rem;
}

.posts-img {
  display: flex;
  align-items: center;
  gap: 12px; /* espaço entre imagem e texto */
  box-shadow: 0px .625rem .625rem 0px #0000001A;
  border-radius: .625rem;
  height: 6rem; /* altura fixa conforme seu design */
  padding: 0 .625rem; /* espaço interno horizontal */
  background-color: #fff;
}

.posts-img img {
  width: 8.25rem;
  height: 4.375rem;
  border-radius: .625rem;
  object-fit: cover;
}

.posts-img > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; /* força a div a preencher o .posts-img */
}

.posts-img:not(:last-child) {
  margin-bottom: 1.375rem;
}

.posts-img h2 {
  font-weight: 700;
  font-size: .875rem;
  color: #000000;
  margin: 0;
}

.posts-img h5 {
  color: #616161;
  font-weight: 500;
  font-size: .875rem;
}

.negrito{
  font-weight: bold;
  font-size: .875rem;
}

.categorias{
  width: 22.5625rem;
  height: 11.5rem;
  margin-top: 2rem;
  gap: .875rem;
}

.categorias h1{
  margin: 0;
  padding: 0;
  padding-top: .75rem;
  padding-left: .9375rem;
  color: white;
}

.categorias ul {
  color: #616161;
  font-weight: 600;
  width: 22.5625rem;
  padding-left: 0;
}

.categorias li:not(:last-child){
  padding-bottom: 1.25rem;
}

.categorias li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categorias li span:first-child::before {
  content: "> ";
  color: #616161;
  margin-right: .25rem;
}


/*Footer*/

.footer{
  width: 100%;
  height: 3rem;
  background-color: #02A28F;
  padding-top: .625rem;
  padding-bottom: .625rem;
  margin: 0;
  padding: 0;
}

.footer h1{
  font-weight: 600;
  font-size: .875rem;
  color: white;
  text-align: center;
  margin: 0;
  padding-top: .9375rem;
}

@media (max-width: 768px) {
.container {
  width: 23rem;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.coluna-esquerda{
  width: 23rem;
  margin: 0;
}

.coluna-direita{
  width: 23rem;
  margin:0;
}


.header{
  width: 24rem;
  height: 4.375rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 0;
  padding-top: 1rem;
}

.header h1{
  width: 24rem;
  height: 1.8125rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}


.banner{
  width: 23rem;
  height: 24.75rem;
  border-radius: .625rem;
  padding: 0;
  margin-top: 1.875rem;
  margin-bottom: .625rem;
  background-position: center; /* CENTRALIZA a imagem */
}

.banner-title{
  padding-top: 13.125rem;
}

.banner-title h2{
  font-size: 1.5rem;
}


.po{
  width:  23rem !important;
  height: 2.5rem;
  border-radius: .625rem;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 0;
}

.recen-imagens{
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 103.5rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-bottom: 0;
  margin-top: 1.875rem;
}

.populares{
  width: 23rem;
  height: 24.75rem;
  margin-top: 1.25rem;
}

.teste3{
  width: 22.875rem;
  height: 3rem;
  border-radius: .625rem;
}

.populares h1{
  margin:0;
  text-align: center;
}

.categorias{
  width: 23rem;
  height: 11.5rem;
  margin: 0;
  margin-top: 1.875rem;
  margin-bottom: 2.5rem;
}

.categorias h1{
  text-align: center;
}

.footer{
  width: 100%;
  height: 3rem;
  justify-content: space-between;
  margin-top: 0;
}


}
