/*Geral da Pagina*/
html{
    font-family: Montserrat;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    padding-left: 9rem;
    padding-right: 9rem;
}

.colunas {
  display: flex;
}

.coluna-esquerda {
  width: 65%;
}

.coluna-direita {
  width: 35%;
}

.image-section {
  margin-top: 2rem;
}

h1{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.2rem;
    color: #FFFFFF;
}

/*Header*/
.header{
    background-color: #02A28F;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header h1{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 1.56rem;

}


/*Section Image*/


#cidade{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-top: 1.25rem;

}

/*Seção Posts Mais recente*/
.teste2{
    background-color: #02A28F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%; 
    margin-left: 1.31rem;
    box-sizing: border-box; 
    border-radius: 0.5rem;  
}

.teste2 h1{
  font-weight: 700;
  font-size: 1.25rem;
  padding-left: 2.18rem;
  padding-right: 12.5rem;
    
}

.teste2 a{
    font-weight: 500;
    font-size: 0.87rem;
    text-decoration: underline;
    text-decoration-style: solid;
    color: white;
    margin-right: 1.25rem;
}


.recen-imagens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  margin-top: 1rem;  
  padding: 0;
  width: 100%;
}

.recen-imagens div {
  width: 100%;
  padding: 0;
  margin: 0;
}

.recen-imagens img {
  width: 100%;
  display: block;
  object-fit: cover;

}

/*Coluna Direita*/

.populares{
    max-width: 100%;
    width: 100%;

}

.populares h1{
    background-color: #02A28F;
    padding: 1rem;
    border-radius: 0.6rem;
    margin-left: .6rem;
    margin-top: 3.75rem;
    margin-bottom: 2rem;
    width: 78%;
}

.populares ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.teste3 h1{
  margin-bottom: .5rem;
  padding-left: 1.3rem;

}

.populares ul li img {
  width: 91%;     
  display: block;    
}

.categorias{
    max-width: 100%;
    width: 100%;

}

.categorias h1{
    margin-top: 1.5rem;
    background-color: #02A28F;
    padding: 1rem;
    margin-left: .6rem;
    border-radius: 0.6rem;
    padding-left: 1.3rem;
    margin-top: 0.75rem;
    width: 78%;
}

.categorias ul {
  list-style: none;
  color: #616161;
  font-weight: 600;
  padding: 0;
}

.categorias li {
  display: flex;
  justify-content: space-between;
  padding: 0.83rem 0.75rem;
  align-items: center;
  margin-right: 3.12rem;
}

.categorias li span:first-child::before {
  content: "> ";
  color: #616161;
  margin-right: 0.25rem;
}


/*Footer*/

.footer{
  background-color: #02A28F;
  padding-top: 1.06rem;
  padding-bottom: 1.06rem;

}

.footer h1{
  font-weight: 600;
  font-size: 0.87rem;
  text-align: center;
}

@media (max-width: 768px) {
.container {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colunas {
  flex-direction: column !important;
  align-items: stretch;
}

.colunas > div {
  width: 100%;
}

header div {
  padding: 1rem 0;
  margin: 0;
}

header h1{
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.image-section{
  margin: 0;
  width: 100%;
}

#cidade{
    width: 100%;
}

.teste2{
  width: 95%;
  height: 2.5rem;
  border-radius: 0.6rem;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-left: 0.62rem;

}

.teste2 h1{
  font-weight: 700;
  font-size: 1.25rem;
  width: 13.12rem;
  padding: 0;
  margin: 0;
}

.teste2 a{

  font-weight: 500;
  font-size: 0.87rem;
  text-decoration: underline;
  text-decoration-style: solid;
  padding: 0;
  margin: 0;
}

.recen-imagens {
  display: grid ;
  grid-template-columns: 1fr ;
  gap: 1rem; 
  padding: 0;
  box-sizing: border-box;
  aspect-ratio: 3 / 4;

}


.recen-imagens div {
  width: 100%;

}


.recen-imagens img {
  width: 100% ;
  height: auto;
}

.posts-recentes .container > div,
.categorias,
.recentes-titulo {
    width: 100%;
}

.posts-recentes img {
    width: 100%;
    height: auto;
    display: block;
}

  .categorias nav ul {
    flex-direction: column;
    gap: 0.5rem;
}

.coluna-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.coluna-direita > * {
    width: 100%;       
    box-sizing: border-box;
}

.teste3 h1{
  padding: 1rem;
  border-radius: 0.6rem;
  margin-left: .6rem;
  margin-top: 4.06rem;
  width: 86%;
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;

}

.populares ul li img{
  width: 100%;
  display: block;
}

.posts-populares{
  margin-top: 1.25rem;
}

.categorias  ul{
  padding: 0;
}

.footer{
    padding-top: 1.06rem;
    padding-bottom: 1.06rem;
}


}

 

